## Rainfall score

In [19]:
import pandas as pd

In [20]:
# Create data for 2022
rainfall_data_22 = {
    'Kraj': ['Praha a Středočeský', 'Jihočeský', 'Plzeňský', 'Karlovarský',
             'Ústecký', 'Liberecký', 'Královéhradecký', 'Pardubický', 'Vysočina', 'Jihomoravský',
             'Olomoucký', 'Zlínský', 'Moravskoslezský'],
    '01': [31, 34, 44, 72, 43, 80, 58, 42, 41, 41, 35, 36, 33],
    '02': [20, 26, 39, 64, 48, 112, 80, 41, 26, 12, 43, 37, 41],
    '03': [15, 13, 19, 19, 12, 12, 18, 19, 14, 11, 21, 16, 27],
    '04': [38, 48, 55, 62, 48, 57, 44, 37, 29, 22, 40, 35, 52],
    '05': [38, 63, 47, 29, 28, 40, 57, 63, 65, 56, 58, 44, 52],
    '06': [133, 171, 103, 41, 77, 95, 93, 83, 95, 75, 74, 73, 83],
    '07': [57, 72, 37, 48, 32, 48, 56, 61, 62, 66, 80, 99, 101],
    '08': [99, 104, 85, 54, 61, 83, 78, 97, 109, 94, 94, 63, 114],
    '09': [69, 82, 113, 111, 75, 90, 81, 81, 75, 49, 72, 104, 83],
    '10': [23, 26, 28, 36, 23, 29, 26, 24, 20, 15, 19, 17, 23],
    '11': [45, 49, 53, 39, 41, 50, 31, 26, 34, 15, 20, 18, 20],
    '12': [47, 49, 45, 49, 36, 61, 55, 49, 49, 45, 55, 70, 67]
}

rainfall_df_22 = pd.DataFrame(rainfall_data_22)
rainfall_df_22['Year'] = 2022

# Set 'Year' as the index
rainfall_df_22.set_index(['Year', 'Kraj'], inplace=True)

# Create data for 2021
rainfall_data_21 = {
    'Kraj': ['Praha a Středočeský', 'Jihočeský', 'Plzeňský', 'Karlovarský',
             'Ústecký', 'Liberecký', 'Královéhradecký', 'Pardubický', 'Vysočina', 'Jihomoravský',
             'Olomoucký', 'Zlínský', 'Moravskoslezský'],
    '01': [49, 54, 61, 81, 63, 86, 57, 52, 56, 33, 53, 57, 53],
    '02': [37, 29, 37, 53, 48, 45, 41, 41, 38, 29, 41, 37, 44],
    '03': [24, 30, 36, 35, 25, 37, 32, 29, 22, 16, 28, 27, 35],
    '04': [23, 30, 24, 27, 22, 45, 28, 33, 31, 23, 42, 46, 66],
    '05': [102, 106, 122, 93, 84, 101, 105, 95, 94, 72, 87, 93, 121],
    '06': [96, 113, 118, 106, 88, 72, 69, 79, 90, 74, 62, 75, 58],
    '07': [107, 116, 125, 116, 117, 139, 117, 133, 113, 82, 96, 55, 77],
    '08': [84, 108, 85, 106, 87, 123, 95, 90, 89, 119, 116, 163, 169],
    '09': [16, 16, 15, 30, 20, 27, 24, 22, 24, 23, 31, 32, 39],
    '10': [19, 20, 17, 24, 14, 40, 32, 19, 15, 12, 17, 13, 18],
    '11': [37, 37, 45, 52, 53, 66, 44, 37, 41, 44, 54, 58, 52],
    '12': [34, 39, 44, 48, 37, 67, 46, 44, 43, 40, 38, 44, 41],
}

rainfall_df_21 = pd.DataFrame(rainfall_data_21)
rainfall_df_21['Year'] = 2021

# Set 'Year' as the index
rainfall_df_21.set_index(['Year', 'Kraj'], inplace=True)

# Create data for 2020
rainfall_data_20 = {
    'Kraj': ['Praha a Středočeský', 'Jihočeský', 'Plzeňský', 'Karlovarský',
             'Ústecký', 'Liberecký', 'Královéhradecký', 'Pardubický', 'Vysočina', 'Jihomoravský',
             'Olomoucký', 'Zlínský', 'Moravskoslezský'],
    '01': [12, 20, 17, 25, 18, 33, 24, 19, 18, 14, 21, 21, 20],
    '02': [64, 72, 100, 111, 81, 128, 102, 96, 70, 35, 76, 76, 71],
    '03': [45, 32, 35, 47, 36, 47, 34, 39, 34, 25, 34, 36, 38],
    '04': [21, 30, 21, 12, 9, 10, 19, 17, 27, 13, 7, 14, 8],
    '05': [64, 88, 68, 118, 96, 140, 66, 67, 79, 66, 77, 97, 124],
    '06': [120, 168, 113, 118, 96, 140, 168, 216, 189, 142, 174, 160, 195],
    '07': [40, 77, 44, 29, 28, 38, 41, 63, 82, 72, 80, 89, 106],
    '08': [99, 122, 124, 120, 96, 99, 104, 128, 130, 86, 110, 89, 136],
    '09': [64, 67, 42, 44, 56, 56, 72, 89, 69, 75, 107, 103, 135],
    '10': [67, 63, 60, 63, 69, 107, 83, 108, 84, 101, 131, 177, 163],
    '11': [16, 26, 13, 13, 10, 26, 26, 28, 31, 21, 27, 25, 29],
    '12': [17, 21, 29, 38, 21, 28, 26, 26, 21, 33, 40, 55, 34]
}
rainfall_df_20 = pd.DataFrame(rainfall_data_20)
rainfall_df_20['Year'] = 2020

# Set 'Year' and 'Kraj' as the index
rainfall_df_20.set_index(['Year', 'Kraj'], inplace=True)

# Create data for 2019
rainfall_data_19 = {
    'Kraj': ['Praha a Středočeský', 'Jihočeský', 'Plzeňský', 'Karlovarský',
             'Ústecký', 'Liberecký', 'Královéhradecký', 'Pardubický', 'Vysočina', 'Jihomoravský',
             'Olomoucký', 'Zlínský', 'Moravskoslezský'],
    '01': [44, 66, 53, 93, 69, 117, 77, 76, 77, 39, 58, 85, 62],
    '02': [28, 35, 35, 29, 29, 36, 28, 31, 30, 18, 34, 35, 36],
    '03': [37, 49, 57, 75, 44, 72, 58, 53, 54, 26, 48, 44, 47],
    '04': [25, 16, 21, 28, 25, 20, 32, 23, 15, 22, 29, 38, 44],
    '05': [72, 85, 71, 59, 66, 96, 87, 109, 108, 99, 104, 131, 134],
    '06': [47, 69, 51, 49, 47, 39, 36, 51, 56, 65, 69, 60, 37],
    '07': [52, 69, 53, 41, 45, 47, 51, 44, 59, 64, 74, 72, 70],
    '08': [72, 70, 86, 68, 58, 61, 89, 81, 67, 68, 90, 91, 110],
    '09': [46, 50, 50, 81, 59, 59, 60, 63, 59, 62, 81, 84, 95],
    '10': [36, 37, 41, 49, 40, 53, 52, 46, 40, 37, 46, 56, 48],
    '11': [40, 33, 32, 39, 36, 65, 60, 44, 44, 41, 44, 58, 48],
    '12': [18, 33, 31, 45, 31, 48, 39, 37, 38, 45, 51, 63, 65]
}
rainfall_df_19 = pd.DataFrame(rainfall_data_19)
rainfall_df_19['Year'] = 2019

# Set 'Year' and 'Kraj' as the index
rainfall_df_19.set_index(['Year', 'Kraj'], inplace=True)

# Create data for 2018
rainfall_data_18 = {
    'Kraj': ['Praha a Středočeský', 'Jihočeský', 'Plzeňský', 'Karlovarský',
             'Ústecký', 'Liberecký', 'Královéhradecký', 'Pardubický', 'Vysočina', 'Jihomoravský',
             'Olomoucký', 'Zlínský', 'Moravskoslezský'],
    '01': [29, 48, 63, 80, 51, 75, 69, 42, 43, 39, 48, 36, 43],
    '02': [8, 19, 11, 8, 5, 4, 7, 16, 19, 17, 21, 22, 24],
    '03': [34, 28, 32, 44, 39, 48, 40, 30, 22, 24, 36, 29, 31],
    '04': [19, 12, 20, 28, 35, 37, 28, 21, 19, 16, 24, 18, 11],
    '05': [54, 90, 71, 84, 47, 36, 49, 50, 59, 53, 37, 72, 66],
    '06': [69, 105, 76, 56, 51, 67, 65, 62, 76, 61, 76, 72, 119],
    '07': [27, 50, 42, 33, 19, 33, 34, 28, 37, 49, 37, 64, 74],
    '08': [33, 50, 33, 29, 35, 34, 28, 28, 37, 31, 34, 45, 56],
    '09': [49, 68, 60, 61, 44, 40, 42, 57, 78, 90, 40, 78, 75],
    '10': [31, 34, 33, 31, 29, 48, 44, 34, 35, 35, 31, 37, 55],
    '11': [12, 35, 19, 18, 11, 19, 26, 20, 26, 18, 19, 8, 15],
    '12': [58, 76, 90, 106, 73, 127, 89, 71, 68, 33, 62, 68, 71]
}
rainfall_df_18 = pd.DataFrame(rainfall_data_18)
rainfall_df_18['Year'] = 2018

# Set 'Year' and 'Kraj' as the index
rainfall_df_18.set_index(['Year', 'Kraj'], inplace=True)

# Create data for 2017
rainfall_data_17 = {
    'Kraj': ['Praha a Středočeský', 'Jihočeský', 'Plzeňský', 'Karlovarský',
             'Ústecký', 'Liberecký', 'Královéhradecký', 'Pardubický', 'Vysočina', 'Jihomoravský',
             'Olomoucký', 'Zlínský', 'Moravskoslezský'],
    '01': [26, 28, 35, 48, 46, 70, 46, 30, 34, 22, 28, 28, 23],
    '02': [19, 21, 25, 27, 21, 48, 37, 24, 23, 13, 23, 32, 32],
    '03': [40, 44, 46, 62, 47, 60, 43, 36, 43, 23, 37, 34, 49],
    '04': [72, 92, 70, 46, 48, 65, 72, 83, 83, 46, 85, 98, 129],
    '05': [36, 40, 50, 40, 33, 48, 48, 53, 39, 36, 52, 48, 64],
    '06': [83, 57, 63, 88, 84, 99, 92, 82, 60, 32, 67, 50, 70],
    '07': [82, 98, 65, 85, 80, 115, 109, 115, 103, 77, 105, 68, 100],
    '08': [76, 94, 74, 102, 92, 83, 75, 48, 46, 37, 44, 45, 61],
    '09': [37, 33, 43, 53, 42, 70, 71, 75, 63, 80, 106, 127, 159],
    '10': [76, 60, 72, 101, 83, 144, 108, 100, 82, 49, 88, 77, 89],
    '11': [37, 45, 58, 71, 46, 68, 51, 43, 43, 37, 49, 66, 53],
    '12': [29, 36, 46, 70, 45, 75, 51, 33, 32, 21, 30, 48, 28]
}
rainfall_df_17 = pd.DataFrame(rainfall_data_17)
rainfall_df_17['Year'] = 2017

# Set 'Year' and 'Kraj' as the index
rainfall_df_17.set_index(['Year', 'Kraj'], inplace=True)

# Create data for 2016
rainfall_data_16 = {
    'Kraj': ['Praha a Středočeský', 'Jihočeský', 'Plzeňský', 'Karlovarský',
             'Ústecký', 'Liberecký', 'Královéhradecký', 'Pardubický', 'Vysočina', 'Jihomoravský',
             'Olomoucký', 'Zlínský', 'Moravskoslezský'],
    '01': [30, 46, 56, 63, 45, 61, 40, 32, 33, 26, 36, 43, 36],
    '02': [45, 52, 60, 65, 49, 72, 58, 62, 51, 68, 85, 93, 90],
    '03': [25, 25, 30, 35, 25, 36, 37, 44, 33, 26, 34, 21, 35],
    '04': [26, 35, 31, 28, 29, 40, 33, 43, 36, 46, 64, 69, 70],
    '05': [58, 95, 44, 33, 47, 38, 50, 62, 57, 49, 61, 51, 64],
    '06': [77, 94, 125, 111, 108, 118, 74, 64, 65, 52, 60, 48, 73],
    '07': [95, 143, 105, 104, 90, 116, 85, 85, 113, 122, 125, 155, 155],
    '08': [32, 35, 45, 37, 47, 52, 32, 31, 25, 43, 49, 67, 68],
    '09': [39, 33, 60, 83, 81, 48, 19, 17, 14, 13, 26, 30, 37],
    '10': [57, 59, 58, 62, 65, 77, 64, 58, 54, 46, 74, 83, 121],
    '11': [29, 41, 38, 36, 31, 46, 42, 37, 35, 31, 47, 54, 54],
    '12': [24, 25, 16, 31, 38, 65, 42, 32, 33, 12, 25, 25, 28],
}
rainfall_df_16 = pd.DataFrame(rainfall_data_16)
rainfall_df_16['Year'] = 2016

# Set 'Year' and 'Kraj' as the index
rainfall_df_16.set_index(['Year', 'Kraj'], inplace=True)

# Create data for 2015
rainfall_data_15 = {
    'Kraj': ['Praha a Středočeský', 'Jihočeský', 'Plzeňský', 'Karlovarský',
             'Ústecký', 'Liberecký', 'Královéhradecký', 'Pardubický', 'Vysočina', 'Jihomoravský',
             'Olomoucký', 'Zlínský', 'Moravskoslezský'],
    '01': [34, 46, 44, 72, 49, 95, 71, 56, 59, 34, 61, 67, 67],
    '02': [5, 8, 4, 9, 7, 11, 10, 10, 9, 12, 16, 33, 34],
    '03': [40, 40, 49, 51, 50, 61, 58, 54, 43, 36, 61, 49, 52],
    '04': [26, 28, 35, 49, 50, 41, 23, 20, 20, 16, 31, 31, 41],
    '05': [41, 64, 52, 26, 28, 35, 49, 47, 49, 41, 49, 61, 76],
    '06': [60, 68, 62, 74, 92, 82, 62, 47, 49, 32, 54, 35, 51],
    '07': [28, 30, 28, 56, 46, 48, 30, 37, 38, 35, 36, 43, 40],
    '08': [70, 42, 44, 73, 87, 72, 59, 88, 77, 92, 64, 94, 47],
    '09': [20, 42, 27, 39, 28, 34, 21, 25, 38, 31, 30, 53, 42],
    '10': [54, 64, 48, 52, 65, 55, 58, 46, 64, 49, 39, 29, 38],
    '11': [64, 74, 85, 106, 71, 134, 103, 107, 85, 36, 59, 67, 53],
    '12': [17, 20, 21, 31, 19, 29, 25, 22, 22, 16, 17, 18, 17],
}

rainfall_df_15 = pd.DataFrame(rainfall_data_15)
rainfall_df_15['Year'] = 2015

# Set 'Year' and 'Kraj' as the index
rainfall_df_15.set_index(['Year', 'Kraj'], inplace=True)

# Create data for 2014
rainfall_data_14 = {
    'Kraj': ['Praha a Středočeský', 'Jihočeský', 'Plzeňský', 'Karlovarský',
             'Ústecký', 'Liberecký', 'Královéhradecký', 'Pardubický', 'Vysočina', 'Jihomoravský',
             'Olomoucký', 'Zlínský', 'Moravskoslezský'],
    '01': [25, 26, 21, 29, 24, 29, 30, 26, 26, 23, 33, 34, 31],
    '02': [2, 7, 6, 8, 6, 6, 5, 8, 12, 15, 14, 32, 20],
    '03': [36, 30, 22, 23, 26, 54, 49, 49, 36, 12, 36, 25, 35],
    '04': [33, 35, 35, 41, 36, 49, 37, 44, 33, 27, 43, 57, 58],
    '05': [121, 126, 109, 103, 94, 117, 116, 110, 116, 78, 96, 96, 142],
    '06': [27, 33, 31, 30, 34, 35, 39, 43, 35, 29, 53, 49, 76],
    '07': [94, 120, 125, 112, 111, 110, 77, 96, 90, 89, 82, 118, 108],
    '08': [64, 104, 91, 85, 78, 69, 68, 93, 104, 113, 102, 99, 113],
    '09': [85, 93, 83, 84, 88, 81, 78, 103, 112, 136, 94, 109, 105],
    '10': [51, 53, 63, 71, 48, 55, 43, 33, 34, 39, 41, 57, 55],
    '11': [18, 17, 18, 21, 23, 14, 16, 18, 27, 30, 24, 37, 35],
    '12': [31, 32, 39, 58, 38, 64, 49, 45, 35, 31, 41, 45, 36],
}

rainfall_df_14 = pd.DataFrame(rainfall_data_14)
rainfall_df_14['Year'] = 2014

# Set 'Year' and 'Kraj' as the index
rainfall_df_14.set_index(['Year', 'Kraj'], inplace=True)

# Create data for 2013
rainfall_data_13 = {
    'Kraj': ['Praha a Středočeský', 'Jihočeský', 'Plzeňský', 'Karlovarský',
             'Ústecký', 'Liberecký', 'Královéhradecký', 'Pardubický', 'Vysočina', 'Jihomoravský',
             'Olomoucký', 'Zlínský', 'Moravskoslezský'],
    '01': [51, 81, 50, 71, 59, 95, 59, 55, 71, 34, 51, 65, 66],
    '02': [44, 49, 47, 54, 52, 60, 46, 40, 52, 58, 54, 73, 59],
    '03': [21, 32, 25, 24, 31, 34, 29, 32, 35, 51, 49, 67, 66],
    '04': [27, 18, 35, 32, 27, 38, 36, 22, 16, 19, 29, 19, 28],
    '05': [114, 121, 122, 125, 121, 105, 112, 112, 113, 102, 99, 101, 112],
    '06': [164, 188, 123, 138, 141, 165, 149, 126, 138, 121, 131, 119, 152],
    '07': [46, 44, 23, 28, 35, 83, 51, 37, 32, 9, 20, 11, 26],
    '08': [106, 91, 111, 93, 95, 78, 59, 74, 77, 72, 72, 87, 58],
    '09': [52, 48, 60, 72, 61, 95, 82, 103, 68, 67, 109, 116, 110],
    '10': [30, 43, 49, 45, 63, 58, 41, 40, 44, 36, 42, 38, 31],
    '11': [10, 32, 45, 50, 39, 60, 51, 27, 22, 24, 37, 52, 42],
    '12': [19, 14, 15, 29, 21, 50, 29, 21, 23, 11, 24, 19, 23],
}

rainfall_df_13 = pd.DataFrame(rainfall_data_13)
rainfall_df_13['Year'] = 2013

# Set 'Year' and 'Kraj' as the index
rainfall_df_13.set_index(['Year', 'Kraj'], inplace=True)

In [21]:
# combine all rainfall dataframes into one
rainfall_df = pd.concat([rainfall_df_13, rainfall_df_14, rainfall_df_15, rainfall_df_16, rainfall_df_17, rainfall_df_18, rainfall_df_19, rainfall_df_20, rainfall_df_21, rainfall_df_22], ignore_index=False)
dfm = rainfall_df.melt(ignore_index=False).reset_index()
dfm = dfm.rename(columns={'variable': 'Month', "Kraj" : "Region", "value" : "Precipitation"},)
dfm

      Year               Region Month  Precipitation
0     2013  Praha a Středočeský    01             51
1     2013            Jihočeský    01             81
2     2013             Plzeňský    01             50
3     2013          Karlovarský    01             71
4     2013              Ústecký    01             59
...    ...                  ...   ...            ...
1555  2022             Vysočina    12             49
1556  2022         Jihomoravský    12             45
1557  2022            Olomoucký    12             55
1558  2022              Zlínský    12             70
1559  2022      Moravskoslezský    12             67

[1560 rows x 4 columns]

In [22]:
# Create a Score df
# Convert the 'Month' column to numeric
dfm['Month'] = pd.to_numeric(dfm['Month'])

# Calculate mean precipitation for each region in each month
mean_precipitation = dfm.groupby(['Region', 'Month'])['Precipitation'].mean().reset_index()

# Pivot the DataFrame to get the final format
result_df = mean_precipitation.pivot(index='Region', columns='Month', values='Precipitation')

# Apply the function to each row
score_df = result_df.apply(lambda x: pd.qcut(x, q=10, labels=range(1, 11)), axis=0)

# Display the updated DataFrame
score_df

Month                1   2   3   4   5   6   7   8   9   10  11  12
Region
Jihomoravský          1   1   1   1   1   1   5   4   6   1   1   1
Jihočeský             5   2   2   5  10  10  10   9   1   2   5   2
Karlovarský          10   8   9   7   3   2   4   6   8   7   9  10
Královéhradecký       9   7   8   6   5   5   3   1   2   8  10   8
Liberecký            10  10  10   9   5   9   9   3   5  10  10  10
Moravskoslezský       4   9   9  10  10  10  10  10  10  10   6   7
Olomoucký             2   6   6   8   4   4   7   7   9   6   3   6
Pardubický            3   5   7   4   7   5   5   5   7   5   4   5
Plzeňský              5   5   5   5   5   7   2   8   3   3   7   5
Praha a Středočeský   1   1   1   2   2   8   1   1   1   1   1   1
Vysočina              6   3   4   1   8   5   6   5   5   4   5   4
Zlínský               8  10   5  10   9   1   8  10  10   9   8   9
Ústecký               7   4   3   3   1   3   1   2   4   5   2   3

In [23]:
# Rename the index so it matches the original names
score_df.index = score_df.index.where(score_df.index == 'Vysočina', score_df.index + ' kraj')
score_df.index = score_df.index.where(score_df.index != 'Vysočina', "Kraj " + score_df.index)

# Display the updated DataFrame
score_df

Month                     1   2   3   4   5   6   7   8   9   10  11  12
Region
Jihomoravský kraj          1   1   1   1   1   1   5   4   6   1   1   1
Jihočeský kraj             5   2   2   5  10  10  10   9   1   2   5   2
Karlovarský kraj          10   8   9   7   3   2   4   6   8   7   9  10
Královéhradecký kraj       9   7   8   6   5   5   3   1   2   8  10   8
Liberecký kraj            10  10  10   9   5   9   9   3   5  10  10  10
Moravskoslezský kraj       4   9   9  10  10  10  10  10  10  10   6   7
Olomoucký kraj             2   6   6   8   4   4   7   7   9   6   3   6
Pardubický kraj            3   5   7   4   7   5   5   5   7   5   4   5
Plzeňský kraj              5   5   5   5   5   7   2   8   3   3   7   5
Praha a Středočeský kraj   1   1   1   2   2   8   1   1   1   1   1   1
Kraj Vysočina              6   3   4   1   8   5   6   5   5   4   5   4
Zlínský kraj               8  10   5  10   9   1   8  10  10   9   8   9
Ústecký kraj               7   4   3   3   1   3   1   2   4   5   2   3

## Water bodies and rivers quantiles
For presentation purposes I will run this code with relatively high grid step. (The values I got in run_main are more precise, but some calculations took 50 minits.)

In [24]:
import geopandas as gpd
from shapely.geometry import Point
import numpy as np

# Load the water bodies data in Python
water_bodies = gpd.read_file("water_bodies.geojson")

# Load the rivers data in Python
rivers = gpd.read_file("rivers.geojson")

In [25]:
# Load the border data in Python
border = gpd.read_file("border.geojson")
border = border.drop('NAZ_STAT', axis=1)
print(border.head())

                                            geometry
0  POLYGON ((15.39413 50.77656, 15.39225 50.77592...

In [26]:
# Make grid points within the Czech Republic boundary

# Assuming 'czech_boundary' is a GeoDataFrame representing the boundary of Czech Republic
minx, miny, maxx, maxy = border.total_bounds

# Create a regular grid of points
grid_step = 0.1  # Adjust the grid step as needed
x, y = np.meshgrid(np.arange(minx, maxx, grid_step), np.arange(miny, maxy, grid_step))
points = gpd.GeoDataFrame(geometry=[Point(x, y) for x, y in zip(x.flatten(), y.flatten())])

# Make sure the grid points are within the Czech Republic boundary
points = gpd.sjoin(points, border, how="inner")

C:\Users\ourri\AppData\Local\Temp\ipykernel_22976\1118523681.py:12: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4326

  points = gpd.sjoin(points, border, how="inner")

In [27]:
# Calculate the proximities to water bodies
points['proximity_to_water_bodies'] = points['geometry'].apply(
    lambda point: water_bodies['geometry'].distance(point).min()
)

# Calculate the proximities to rivers
points['proximity_to_rivers'] = points['geometry'].apply(
    lambda point: rivers['geometry'].distance(point).min()
)

C:\Users\ourri\AppData\Local\Temp\ipykernel_22976\1047198359.py:3: UserWarning: Geometry is in a geographic CRS. Results from 'distance' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  lambda point: water_bodies['geometry'].distance(point).min()
C:\Users\ourri\AppData\Local\Temp\ipykernel_22976\1047198359.py:8: UserWarning: Geometry is in a geographic CRS. Results from 'distance' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  lambda point: rivers['geometry'].distance(point).min()

In [29]:
# Get proximity quantiles

# Assuming you have a 'proximity_to_rivers' column in your 'points' GeoDataFrame
proximity_values_water_bodies = points['proximity_to_water_bodies'].to_numpy()

# Flatten and remove NaN values
proximity_values_water_bodies = proximity_values_water_bodies[~np.isnan(proximity_values_water_bodies)]

# Calculate quantiles
proximity_quantiles_water_bodies = np.percentile(proximity_values_water_bodies, [10, 20, 30, 40, 50, 60, 70, 80, 90])

# Assuming you have a 'proximity_to_rivers' column in your 'points' GeoDataFrame
proximity_values_rivers = points['proximity_to_rivers'].to_numpy()

# Flatten and remove NaN values
proximity_values_rivers = proximity_values_rivers[~np.isnan(proximity_values_rivers)]

# Calculate quantiles
proximity_quantiles_rivers = np.percentile(proximity_values_rivers, [10, 20, 30, 40, 50, 60, 70, 80, 90])

# Print results
print(proximity_quantiles_water_bodies)
print(proximity_quantiles_rivers)

[0.00998285 0.01912124 0.02731661 0.03450658 0.04307104 0.05455678
 0.06669168 0.08289687 0.10762365]
[0.00107786 0.00206704 0.00315339 0.00456177 0.00582482 0.00744455
 0.00882971 0.01089906 0.01399069]

## Forests quantiles
For presentation purposes I will run this code with relatively high grid step. (Same as before.)

In [31]:
# Load the forests data in Python
forests = gpd.read_file("forests.geojson")

In [32]:
def forested_area_percentage(coord, forests, buffer_radius):
    """
    Calculate the percentage of forested area in a circular buffer around the coordinates.

    Parameters:
        coord (tuple): Pair of coordinates as (longitude, latitude).
        forests (GeoDataFrame): GeoDataFrame representing forest polygons.
        buffer_radius (float): Radius of the circular buffer in degrees.

    Returns:
        percentage (float): Percentage of forested area in the buffer.
    """
    # Create a Shapely Point geometry from the coordinates
    point = Point(coord)

    # Create a circular buffer around the point
    buffer_zone = point.buffer(buffer_radius)

    # Calculate the intersection of the buffer zone with the forest polygons
    intersection = forests.intersection(buffer_zone)

    # Calculate the total area of the buffer zone
    total_buffer_area = buffer_zone.area

    # Calculate the total area of the forested region within the buffer
    forested_area = intersection.area.sum()

    # Calculate the percentage of forested area in the buffer
    percentage = (forested_area / total_buffer_area) * 100

    return percentage

In [33]:
# Assuming 'buffer_radius' is the desired radius in degrees
buffer_radius = 0.01  # Adjust as needed

# Assuming you have a 'geometry' column in your 'points' GeoDataFrame

# Calculate the percentage of forested area around each point
points['forest_percentage'] = points['geometry'].apply(
    lambda point: forested_area_percentage(point.coords[0], forests, buffer_radius)
)

C:\Users\ourri\AppData\Local\Temp\ipykernel_22976\2434635545.py:26: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  forested_area = intersection.area.sum()

In [34]:
# Assuming you have a 'forest_percentage' column in your 'points' GeoDataFrame
forest_percentages = points['forest_percentage'].to_numpy()

# Flatten and remove NaN values
forest_percentages = forest_percentages[~np.isnan(forest_percentages)]

# Calculate quantiles
forest_quantiles = np.percentile(forest_percentages, [10, 20, 30, 40, 50, 60, 70, 80, 90])

# Print results
print(forest_quantiles)

[ 0.          0.          4.89214991 15.48877549 26.90997694 38.62134666
 53.58105495 69.94220617 93.16184665]